:root{
    --clr-stroke: #a6ad8f;
}
[data-uppy-theme="dark"] {
    --clr-stroke: #6a9396;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-sm {
    scale: 0.8;
}

footer .footer_uppy {
    background: var();
}